.image {
	margin-top: 25px;
	max-width: 50vw;
	max-height: 50vh;
	object-fit: contain;
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
		5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.search-form {
	max-width: 50vw;
}

footer {
	margin-top: 5rem;
}

.output {
	display: inline-block;
	padding: 10px;
	img {
		object-fit: contain;
		width: 150px;
		height: 150px;
	}
}

.favorites {
	li {
		cursor: pointer;
	}
}
